.index {
    &_filter_wrapper {
        padding-top: 70px;
        padding-bottom: 250px;
    }

    &_filter_title {
        font-size: 18px;
        font-weight: 400;
        color: #000000;
    }

    &_product_wrapper_has_pages {
        padding-top: 0px;
    }

    &_product_wrapper_no_pages {
        padding-top: 79px;
    }
}