.product-list-item {
    height: 370px;
    text-align: center;
    padding: 10px 5px 10px 5px;
    border: 1px solid #000000;

    &__image-wrapper {
        margin-bottom: 10px;
    }

    &__image {
        height: 220px;
        width: 200px;
    }

    &__product-name {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
    }

    &__product-price {
        font-size: 18px;
        font-weight: 500;
        color: #000000;
    }

    &__product-unit {
        font-size: 16px;
        font-weight: 400;
        color: #333333;
    }

    &__button {
        background-color: #000000;
        color: white;
        padding: 8px 10px;
        border: none;
    }
}
