<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} E-Super Market </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top layout_nav_wrapper">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="layout_nav_market_wrapper">
                    <a href="/" class="layout_nav_market">E-Super market</a>
                </div>
            </div>
            <div class="navbar-collapse collapse navbar-right layout_cart_wrapper">
                <ul class="nav navbar-nav">
                    <li>{% include "cartapp/partials/cart_summary_widget.html" %}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content layout_content_wrapper">
        {% block content %}{% endblock %}
            <hr/>
            <footer>
                <p class="layout_copyright">&copy; {{ year }} - E-Super Market</p>
            </footer>
            </div>

            <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
            <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
            <script src="{% static 'app/scripts/respond.js' %}"></script>
        {% block scripts %}{% endblock %}

</body>
</html>
